@{
    ViewData["Title"] = "Home Page";
}

<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Release Date</th>
            <th>Ratings</th>
            <th>Rotten Tomatoes</th>
        </tr>
        
    </thead>
    <tbody>
        <tr>
            <td>Barbie</td>
            <td>2023-07-21</td>
            <td>6.6</td>
            <td>66%</td>
        </tr>
        <tr>
            <td>Oppenheimer</td>
            <td>2023-07-14</td>
            <td>8.7</td>
            <td>94%</td>
        </tr>
        <tr>
            <td>Fast X</td>
            <td>2023-05-19</td>
            <td>5.9</td>
            <td>57%</td>
        </tr>
        <tr>
            <td>Mission Impossible</td>
            <td>2023-07-12</td>
            <td>8.0</td>
            <td>96%</td>
        </tr>
        <tr>
            <td>Transformers: Rise of the Beasts</td>
            <td>2023-06-09</td>
            <td>6.1</td>
            <td>52%</td>
        </tr>
        <tr>
            <td>The Flash</td>
            <td>2023-06-15</td>
            <td>6.9</td>
            <td>64%</td>
        </tr>
        <tr>
            <td>Spider-Man: Across the Spider-Verse</td>
            <td>2023-05-02</td>
            <td>8.9</td>
            <td>95%</td>
        </tr>
        <tr>
            <td>The BatMan</td>
            <td>2022-03-04</td>
            <td>7.8</td>
            <td>85%</td>
        </tr>
    </tbody>
</table>
